<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="/display.css">
</head>
<body>
    <h1>Rectangles</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Color</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="rectangle : ${rectangles}">
                <td > 
                <a th:href="@{/rectangles/display/{id}(id=${rectangle.id})}" th:text="${rectangle.name}"></a>
                </td>
                <td th:text="${rectangle.color}"></td>
                <td>
                    <a th:href="@{/rectangles/delete/{id}(id=${rectangle.id})}" class="btn btn-danger">Delete</a>
                </td>            
            </tr>
        </tbody>
    </table></body>
    <form th:action="@{/addbutton.html}", method="get">
        <button type="submit">Add</button>
    </form>
</html>